body {
	margin: 0;
	background: black;
}

html {
	overflow-y: scroll;
}

#typeConatiner {
	position: absolute;
	width: 100%;
	height: 100%;
}

.typeBtn {
	position: relative;
	float: left;
	width: 369px;
	height: 422px;
}

.typeBtn:hover {
	cursor: pointer;
}

.typeBtnImg{
	position: absolute;
	top: 0px;
	width: 369px;
	height: 422px;
}

#desktop .typeBtnImg {
	background-image: url(/assets/img/button_select_desktop.png);
}

#tablet .typeBtnImg {
	background-image: url(/assets/img/button_select_tablet.png);
}

#phone .typeBtnImg {
	background-image: url(/assets/img/button_select_phone.png);
}

#editor {
	display: none;
	width: 100%;
	height: 100%;
}

#inputContainer {
	position: relative;
	float: left;
	width: 480px;
	height: 570px;
	z-index: 2;
	background-color: blue;
}

#textContainer {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color: yellow;
}

#textInput {
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: 0px;
	border: none;
	text-align: center;
}

#textHeader {
	position: absolute;
	width: 100%;
	height: 40%;
	top: 0px;
	color: white;
	text-align: center;
}

#decalsHeader {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 80px;
	color: white;
	text-align: center;
}

#decalsContainer{
	position: absolute;
	top: 165px;
	width: 100%;
	height: 287px;
	overflow: hidden;
}

#canvasContainer {
	position: relative;
	float: left;
	width: 480px;
	height: 270px;
	z-index: 1;
}

#canvasContainer canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#decals{
	position: absolute;
	top: 0px;
}

.footballer {
	position: relative;
	float: left;
	width: 104px;
	height: 287px;
	margin-left: 13px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(/assets/img/element_glow.png);
}

.footballer img{
	width: 104px;
	height: 287px;
}

.arrowBtn {
	position: absolute;
	width: 76px;
	height: 40px;
	left: 50%;
	margin-left: -38px;
}

#upBtn {
	top: 110px;
	background-image: url(/assets/img/button_arrow_up.png);
}

#downBtn {
	top: 465px;
	background-image: url(/assets/img/button_arrow_down.png);
}

#okBtn {
	position: absolute;
	width: 204px;
	height: 56px;
	left: 50%;
	bottom: 0px;
	margin-left: -102px;
	background-image: url(/assets/img/button_save.png);
}